/* Tablet */
@media (min-width: 640px) {
  .stats {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .stat-card {
    flex: 1 1 calc(50% - 1rem);
  }

  .verified-count {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
  }
}

/* Medium Devices */
@media (min-width: 768px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header {
    padding: 1.5rem 2rem;
    margin: auto 3rem;
  }

  .header-right {
    font-size: 14px;
  }

  .stats {
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    width: 60%;
  }

  .stat-card {
    flex: 1;
  }

  .stat-card h3 {
    font-size: 24px; /* closer to designer scale */
  }

  .hero-verify h1 {
    font-size: 56px; /* h1 desktop */
  }
  .hero-subtext {
    font-size: 18px;
  }

  .verify-form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .verify-form input {
    flex: 1;
    max-width: 520px;
  }

  .verify-form button {
    padding: 0.9rem 2rem;
  }

  .scam-report-container {
    padding: 3rem;
  }

  .scam-report h2 {
    font-size: 36px;
  }

  .scam-report-subtext {
    font-size: 18px;
  }

  .blogs {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-list h2 {
    font-size: 36px;
  }

  .features-section {
    max-width: 1100px;
    margin: auto;
  }

  .verified-count {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
  }
}
