.blog-list {
  padding: 4rem 1rem;
  /* background: #ffffff; */
}

.blog-list h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 2.5rem;
}

.view-all {
  margin-top: 3rem !important;
  margin: 3rem auto 0 auto;
  display: block !important;
  padding: 0.75rem 2.2rem;
  font-weight: 600;
  background: #0001ff !important;
  color: white !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.view-all:hover {
  background: transparent !important;
  border: 1px solid #0000e6 !important; ;
  color: #0000e6 !important;
  text-decoration: none !important;
}

/* Medium Devices */
@media (min-width: 768px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .blogs {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-list h2 {
    font-size: 36px;
  }
}