.blog-list {
  padding: 4rem 1rem;
  /* background: #ffffff; */
}

.blog-list h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 2.5rem;
}

.view-all {
  margin: 3rem auto 0;
  display: block;
  padding: 0.75rem 2.2rem;
  font-weight: 600;
  background: #0001ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
