.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.header-left img {
  height: 24px;
}

.header-right {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 18px;
}

.logo img {
  width: 28px;
  height: 28px;
}

#badge{
  width: 15px;
  height: 18px;
}

#blue {
  color: #0001ff;
}