.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 17px;
}

.header-left img {
  height: 24px;
}

.header-right {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* Sign up button */
.signup-btn {
  background: #c7c9ff;
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.signup-btn:hover {
  background: #b0b3ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 18px;
}

.logo img {
  width: 28px;
  height: 28px;
}

#badge{
  width: 15px;
  height: 18px;
}

#blue {
  color: #0001ff;
}

.verified-count {
  display: none;
}