.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 17px;
}

.header-left img {
  height: 24px;
}

.header-right {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-right a {
  white-space: nowrap;
}

/* Sign up button */
.signup-btn {
  background: #c7c9ff;
  color: #fff;
  padding: 0.65rem 1.2rem;
  border-radius: 6px;
  /* font-size: 15px; */
  font-weight: 600;
  text-decoration: none;
}

.signup-btn:hover {
  background: #0001ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 18px;
}

.logo img {
  width: 28px;
  height: 28px;
}

#badge{
  width: 15px;
  height: 18px;
}

#blue {
  color: #0001ff;
}

.verified-count {
  display: none;
}

@media (max-width: 480px) {
  .header-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
  }

  .signup-btn {
    width: 100%;
    text-align: center;
  }
}


/* Tablet */
@media (min-width: 640px) {

  .verified-count {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .header {
    padding: 1.5rem 2rem;
    margin: auto 3rem;
  }

  .header-right {
    font-size: 14px;
  }
  .verified-count {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
  }
}